.theme-div {
    width: 92%;
    max-width: 1200px;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}
.settings-div {
    background-color: var(--background-color);
    padding: 20px;
    border: 1px solid var(--background-color-light);
    border-radius: 25%;
    text-align: center;
    width: 80%;
    min-width: 200px;
    margin: auto;
    position: relative;
    z-index: 2;
}