/* Button Styling */
button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: var(--text-no-color);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    outline: none;
}

.button:hover {
    transform: scale(1.05);
    background-color: var(--primary-color-accent);
}

.button:active {
    transform: scale(0.95);
}

.button:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

