body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--primary-background-shadow-color);
    color: var(--text-no-color);
    display: flex;
    flex-direction: column;
}

#header, header  {
    width: 100%;
    height: 85px;
    background-color: var(--primary-background-accent-color);
    color: var(--text-no-color);
    display: flex;
    justify-content: center;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out, color 0.4s ease-in-out;
}

nav {
    width: 100%;
    height: 7vh;
    background-color: var(--primary-background-accent-color);
    color: var(--text-no-color);
    display: flex;
    justify-content: center;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav.fixed {
    position: fixed;
    top: 0;
}

.body-content {
    margin-top: 0;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: var(--primary-background-color);
    color: var(--text-no-color);
    display: flex;
    justify-content: center;
    z-index: 1000;
}

/* 
* Scrollbar Customization
*/

/* 
* For Webkit browsers like Chrome/Safari 
*/

/* Adjusting width of the scrollbar */
::-webkit-scrollbar {
    width: 12px; 
    z-index: 999;
}

/* Styling the scrollbar track (background where the thumb moves) */
::-webkit-scrollbar-track {
    background-color: var(--primary-background-color); 
    border-radius: 10px; 
    z-index: 999;
}

/* Styling the scrollbar thumb (movable part seen on the track) */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-text-color); 
    border-radius: 10px;
    border: 3px solid var(--primary-background-color); 
    z-index: 999;
}

/* Styling the scrollbar thumb upon hover, increasing visibility and interactivity */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-text-accent-color); 
    z-index: 999;
}

/* 
* For Internet Explorer and Edge 
*/

/* Adjusting width of the scrollbar */
body::-ms-scrollbar {
    width: 12px;
    z-index: 999;
    z-index: 999;
}

/* Styling the scrollbar track */
body::-ms-scrollbar-track {
    background-color: var(--primary-background-color);
    z-index: 999;
}

/* Styling the scrollbar thumb */
body::-ms-scrollbar-thumb {
    background-color: var(--primary-text-color);
    border-radius: 10px;
    z-index: 999;
}

/* Adding a dynamic hover effect for the scrollbar thumb */
body::-ms-scrollbar-thumb:hover {
    background-color: var(--primary-text-accent-color);
    z-index: 999;
}

/* 
* For modern versions of Firefox 
*/

/* Styling the scrollbar for better visibility and consistency in the color scheme */
body {
    scrollbar-color: var(--primary-background-shadow-color) var(--primary-background-color); 
    scrollbar-width: thin; /* Keeping it streamlined and not overly thick */
}

/* Additional Considerations */
/* You might want to add transitions for smooth color changes on hover */
::-webkit-scrollbar-thumb {
    transition: background-color 0.3s ease-in-out; 
}
