body {
    margin: 0;
    background-color: var(--colored-background-1);
    color: var(--text-no-color);
}

header  {
    width: 100%;
    background-color: var(--colored-background-3);
    color: var(--text-no-color);
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
    background-color: var(--colored-background-3);
    color: var(--text-no-color);
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    background-color: var(--colored-background-2);
    color: var(--text-no-color);
    display: flex;
    justify-content: center;
}