.yellow-theme-colors {
    /* Primary */
    --primary-100: #fffbea;
    --primary-200: #fff3b3;
    --primary-300: #ffea7a;
    --primary-400: #ffe04d;
    --primary-500: #ffd600;
    --primary-600: #e6c100;
    --primary-700: #b3a200;
    --primary-800: #806b00;
    --primary-900: #4d3d00;
    --primary-dark-1: #383424;
    --primary-dark-2: #2b281b;
    --primary-dark-3: #24210d;
    --primary-dark-4: #1e1a0b;
    --primary-dark-5: #17130a;

    /* Secondary */
    --secondary-100: #fffbf0;
    --secondary-200: #fff1c5;
    --secondary-300: #ffe592;
    --secondary-400: #ffdb6f;
    --secondary-500: #ffd04b;
    --secondary-600: #fcb925;
    --secondary-700: #d6a11d;
    --secondary-800: #ad8415;
    --secondary-900: #825f0e;
    --secondary-dark-1: #6d5010;
    --secondary-dark-2: #56400d;
    --secondary-dark-3: #3f2e09;
    --secondary-dark-4: #312208;
    --secondary-dark-5: #231805;

    /* Tertiary */
    --tertiary-100: #fff7ec;
    --tertiary-200: #ffe3c6;
    --tertiary-300: #ffd29f;
    --tertiary-400: #ffc07a;
    --tertiary-500: #ffad54;
    --tertiary-600: #f4972e;
    --tertiary-700: #db7f1f;
    --tertiary-800: #b86514;
    --tertiary-900: #914d0b;
    --tertiary-dark-1: #763d0b;
    --tertiary-dark-2: #5a2e08;
    --tertiary-dark-3: #432109;
    --tertiary-dark-4: #331805;
    --tertiary-dark-5: #240e04;
}

.blue-theme-colors {
    /* Primary */
    --primary-100: #e6f7ff;
    --primary-200: #bdeeff;
    --primary-300: #80ddff;
    --primary-400: #33ccff;
    --primary-500: #00bfff;
    --primary-600: #00a8e6;
    --primary-700: #008ab3;
    --primary-800: #006680;
    --primary-900: #00444d;
    --primary-dark-1: #00323a;
    --primary-dark-2: #00262c;
    --primary-dark-3: #001b1f;
    --primary-dark-4: #001215;
    --primary-dark-5: #00090b;

    /* Secondary */
    --secondary-100: #ebfafb;
    --secondary-200: #cceef2;
    --secondary-300: #aadde3;
    --secondary-400: #88ccd4;
    --secondary-500: #66bbc5;
    --secondary-600: #55a2b1;
    --secondary-700: #448a95;
    --secondary-800: #336f77;
    --secondary-900: #225558;
    --secondary-dark-1: #1b4546;
    --secondary-dark-2: #133635;
    --secondary-dark-3: #0b2624;
    --secondary-dark-4: #071c1a;
    --secondary-dark-5: #041210;

    /* Tertiary */
    --tertiary-100: #eff8ff;
    --tertiary-200: #d5edff;
    --tertiary-300: #a9dbff;
    --tertiary-400: #7dcaff;
    --tertiary-500: #51b9ff;
    --tertiary-600: #2fa1e6;
    --tertiary-700: #1582b3;
    --tertiary-800: #0b6380;
    --tertiary-900: #023e4d;
    --tertiary-dark-1: #02343a;
    --tertiary-dark-2: #01282c;
    --tertiary-dark-3: #011d1f;
    --tertiary-dark-4: #011315;
    --tertiary-dark-5: #000a0b;
}

.green-theme-colors {
    /* Primary */
    --primary-100: #e6ffe6;
    --primary-200: #b3ffbf;
    --primary-300: #80ff99;
    --primary-400: #4dff73;
    --primary-500: #1aff4d;
    --primary-600: #00e640;
    --primary-700: #00b32d;
    --primary-800: #00801a;
    --primary-900: #004d00;
    --primary-dark-1: #003a00;
    --primary-dark-2: #002600;
    --primary-dark-3: #001300;
    --primary-dark-4: #000d00;
    --primary-dark-5: #000800;

    /* Secondary */
    --secondary-100: #e6fff0;
    --secondary-200: #ccffdb;
    --secondary-300: #99ffbb;
    --secondary-400: #66ff9c;
    --secondary-500: #33ff7d;
    --secondary-600: #1fe667;
    --secondary-700: #16b354;
    --secondary-800: #0d8041;
    --secondary-900: #054d2e;
    --secondary-dark-1: #043a23;
    --secondary-dark-2: #032618;
    --secondary-dark-3: #02130d;
    --secondary-dark-4: #010d08;
    --secondary-dark-5: #000805;

    /* Tertiary */
    --tertiary-100: #ebfff2;
    --tertiary-200: #c6ffdd;
    --tertiary-300: #9effc2;
    --tertiary-400: #76ffa8;
    --tertiary-500: #4dff8e;
    --tertiary-600: #26e67c;
    --tertiary-700: #1db367;
    --tertiary-800: #148051;
    --tertiary-900: #0b4d3b;
    --tertiary-dark-1: #093a2d;
    --tertiary-dark-2: #072620;
    --tertiary-dark-3: #051313;
    --tertiary-dark-4: #030e0b;
    --tertiary-dark-5: #020805;
}

.red-theme-colors {
    /* Primary */
    --primary-100: #ffe6e6;
    --primary-200: #ffcccc;
    --primary-300: #ff9999;
    --primary-400: #ff6666;
    --primary-500: #ff3333;
    --primary-600: #e62626;
    --primary-700: #b31d1d;
    --primary-800: #801515;
    --primary-900: #4d0d0d;
    --primary-dark-1: #3a0a0a;
    --primary-dark-2: #260707;
    --primary-dark-3: #130404;
    --primary-dark-4: #0d0303;
    --primary-dark-5: #080202;

    /* Secondary */
    --secondary-100: #ffebec;
    --secondary-200: #ffd5d1;
    --secondary-300: #ffbab3;
    --secondary-400: #ff9e95;
    --secondary-500: #ff8378;
    --secondary-600: #e66b61;
    --secondary-700: #b3514a;
    --secondary-800: #803534;
    --secondary-900: #4d1f20;
    --secondary-dark-1: #3a1818;
    --secondary-dark-2: #261212;
    --secondary-dark-3: #130909;
    --secondary-dark-4: #0d0606;
    --secondary-dark-5: #080303;

    /* Tertiary */
    --tertiary-100: #fff1eb;
    --tertiary-200: #ffdbc5;
    --tertiary-300: #ffc39c;
    --tertiary-400: #ffaa73;
    --tertiary-500: #ff924a;
    --tertiary-600: #e67e34;
    --tertiary-700: #b36628;
    --tertiary-800: #804d1c;
    --tertiary-900: #4d350f;
    --tertiary-dark-1: #3a2a0b;
    --tertiary-dark-2: #261e07;
    --tertiary-dark-3: #131104;
    --tertiary-dark-4: #0d0c03;
    --tertiary-dark-5: #080601;
}

.purple-theme-colors {
    /* Primary */
    --primary-100: #f5e6ff;
    --primary-200: #e5c4ff;
    --primary-300: #d39fff;
    --primary-400: #c17aff;
    --primary-500: #b055ff;
    --primary-600: #992eff;
    --primary-700: #7b16d6;
    --primary-800: #5c0fad;
    --primary-900: #3e0884;
    --primary-dark-1: #320669;
    --primary-dark-2: #250450;
    --primary-dark-3: #180338;
    --primary-dark-4: #0f021c;
    --primary-dark-5: #06010f;

    /* Secondary */
    --secondary-100: #f8e6fa;
    --secondary-200: #f2c4f5;
    --secondary-300: #eb9fef;
    --secondary-400: #e57ae9;
    --secondary-500: #de55e3;
    --secondary-600: #c72ed1;
    --secondary-700: #9b16a6;
    --secondary-800: #700f7c;
    --secondary-900: #460852;
    --secondary-dark-1: #370641;
    --secondary-dark-2: #290430;
    --secondary-dark-3: #1c031f;
    --secondary-dark-4: #10021a;
    --secondary-dark-5: #050110;

    /* Tertiary */
    --tertiary-100: #f6e6ff;
    --tertiary-200: #edc4ff;
    --tertiary-300: #e39fff;
    --tertiary-400: #d97aff;
    --tertiary-500: #d055ff;
    --tertiary-600: #b92eff;
    --tertiary-700: #9416d6;
    --tertiary-800: #6f0fad;
    --tertiary-900: #4b0884;
    --tertiary-dark-1: #3c0669;
    --tertiary-dark-2: #2d0450;
    --tertiary-dark-3: #1f0338;
    --tertiary-dark-4: #14021c;
    --tertiary-dark-5: #0a010f;
}
