.yellow-theme-saturated {
    --primary-1: rgb(0, 0, 0);
    --primary-2: rgb(14, 13, 1);
    --primary-3: rgb(28, 26, 2);
    --primary-4: rgb(42, 40, 3);
    --primary-5: rgb(56, 53, 4);
    --primary-6: rgb(71, 66, 4);
    --primary-7: rgb(85, 79, 5);
    --primary-8: rgb(99, 93, 6);
    --primary-9: rgb(113, 106, 7);
    --primary-10: rgb(127, 119, 8);
    --primary-11: rgb(141, 132, 9);
    --primary-12: rgb(155, 145, 10);
    --primary-13: rgb(169, 159, 11);
    --primary-14: rgb(183, 172, 12);
    --primary-15: rgb(197, 185, 13);
    --primary-16: rgb(212, 198, 13);
    --primary-17: rgb(226, 212, 14);
    --primary-18: rgb(240, 225, 15);
    --primary-19: rgb(241, 227, 29);
    --primary-20: rgb(242, 228, 44);
    --primary-21: rgb(242, 230, 58);
    --primary-22: rgb(243, 232, 72);
    --primary-23: rgb(244, 234, 86);
    --primary-24: rgb(245, 235, 100);
    --primary-25: rgb(246, 237, 114);
    --primary-26: rgb(247, 239, 128);
    --primary-27: rgb(248, 241, 142);
    --primary-28: rgb(249, 243, 156);
    --primary-29: rgb(250, 244, 170);
    --primary-30: rgb(251, 246, 185);
    --primary-31: rgb(251, 248, 199);
    --primary-32: rgb(252, 250, 213);
    --primary-33: rgb(253, 251, 227);
    --primary-34: rgb(254, 253, 241);
    --primary-35: rgb(255, 255, 255);
    --secondary-1: rgb(0, 0, 0);
    --secondary-2: rgb(14, 11, 1);
    --secondary-3: rgb(28, 21, 2);
    --secondary-4: rgb(42, 32, 3);
    --secondary-5: rgb(56, 42, 4);
    --secondary-6: rgb(71, 53, 4);
    --secondary-7: rgb(85, 63, 5);
    --secondary-8: rgb(99, 74, 6);
    --secondary-9: rgb(113, 85, 7);
    --secondary-10: rgb(127, 95, 8);
    --secondary-11: rgb(141, 106, 9);
    --secondary-12: rgb(155, 116, 10);
    --secondary-13: rgb(169, 127, 11);
    --secondary-14: rgb(183, 138, 12);
    --secondary-15: rgb(197, 148, 13);
    --secondary-16: rgb(212, 159, 13);
    --secondary-17: rgb(226, 169, 14);
    --secondary-18: rgb(240, 180, 15);
    --secondary-19: rgb(241, 184, 29);
    --secondary-20: rgb(242, 189, 44);
    --secondary-21: rgb(242, 193, 58);
    --secondary-22: rgb(243, 198, 72);
    --secondary-23: rgb(244, 202, 86);
    --secondary-24: rgb(245, 206, 100);
    --secondary-25: rgb(246, 211, 114);
    --secondary-26: rgb(247, 215, 128);
    --secondary-27: rgb(248, 220, 142);
    --secondary-28: rgb(249, 224, 156);
    --secondary-29: rgb(250, 228, 170);
    --secondary-30: rgb(251, 233, 185);
    --secondary-31: rgb(251, 237, 199);
    --secondary-32: rgb(252, 242, 213);
    --secondary-33: rgb(253, 246, 227);
    --secondary-34: rgb(254, 251, 241);
    --secondary-35: rgb(255, 255, 255);
    --tertiary-1: rgb(0, 0, 0);
    --tertiary-2: rgb(14, 8, 1);
    --tertiary-3: rgb(28, 16, 2);
    --tertiary-4: rgb(42, 24, 3);
    --tertiary-5: rgb(56, 32, 4);
    --tertiary-6: rgb(71, 40, 4);
    --tertiary-7: rgb(85, 48, 5);
    --tertiary-8: rgb(99, 56, 6);
    --tertiary-9: rgb(113, 64, 7);
    --tertiary-10: rgb(127, 71, 8);
    --tertiary-11: rgb(141, 79, 9);
    --tertiary-12: rgb(155, 87, 10);
    --tertiary-13: rgb(169, 95, 11);
    --tertiary-14: rgb(183, 103, 12);
    --tertiary-15: rgb(197, 111, 13);
    --tertiary-16: rgb(212, 119, 13);
    --tertiary-17: rgb(226, 127, 14);
    --tertiary-18: rgb(240, 135, 15);
    --tertiary-19: rgb(241, 142, 29);
    --tertiary-20: rgb(242, 149, 44);
    --tertiary-21: rgb(242, 156, 58);
    --tertiary-22: rgb(243, 163, 72);
    --tertiary-23: rgb(244, 170, 86);
    --tertiary-24: rgb(245, 177, 100);
    --tertiary-25: rgb(246, 184, 114);
    --tertiary-26: rgb(247, 191, 128);
    --tertiary-27: rgb(248, 199, 142);
    --tertiary-28: rgb(249, 206, 156);
    --tertiary-29: rgb(250, 213, 170);
    --tertiary-30: rgb(251, 220, 185);
    --tertiary-31: rgb(251, 227, 199);
    --tertiary-32: rgb(252, 234, 213);
    --tertiary-33: rgb(253, 241, 227);
    --tertiary-34: rgb(254, 248, 241);
    --tertiary-35: rgb(255, 255, 255);
  }