/* 
*   Themes Customization 
*/

.dark-theme {
    --background-color-deep: #111;
    --background-color: #222;
    --background-color-medium: #333;
    --background-color-light: #444;

    --text-no-color: #fff;
    --text-color-1: var(--secondary-color-accent);
    --text-color-2: var(--primary-color-dark);
    --text-color-3: var(--primary-color-accent);
    --text-color-4: var(--primary-color-pale);

    --colored-background-1: var(--colored-background-accent-dark);
    --colored-background-2: var(--colored-background-dark);
    --colored-background-3: var(--colored-background-mid-dark);

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

}

.light-theme {
    --background-color-deep: #eee;
    --background-color: #ddd;
    --background-color-medium: #ccc;
    --background-color-light: #bbb;

    --text-no-color: #000;
    --text-color-1: var(--primary-color-accent);
    --text-color-2: var(--primary-color);
    --text-color-3: var(--primary-color-dark);
    --text-color-4: var(--secondary-color-dark);

    --colored-background-1: var(--colored-background-accent-light);
    --colored-background-2: var(--colored-background-light);
    --colored-background-3: var(--colored-background-mid-light);

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

}

