.path-svg {
    fill: var(--primary-title-color);
}

.path-base {
    fill: var(--primary-background-shadow-color);
}

.path-star {
    fill: var(--tertiary-text-color);
}

.path-star-stroke {
    stroke: var(--tertiary-background-color)
}

.svg-logo {

}

.svg-logo:hover .path-svg {
    animation: pathSvgHoverAnimation 0.4s ease-in-out forwards;
}

.svg-logo:hover .path-base {
    animation: pathBaseHoverAnimation 0.5s ease-in-out forwards;
}

.svg-logo:hover .path-star {
    animation: pathStarHoverAnimation 0.8s ease-in-out forwards;
}

.svg-logo:hover .path-star-stroke {
    animation: pathStarStrokeHoverAnimation 0.7s ease-in-out forwards;
}

@keyframes pathSvgHoverAnimation {
    0% {
        fill: var(--primary-title-color);
    }
    100% {
        fill: transparent;
    }
}

@keyframes pathBaseHoverAnimation {
    0% {
        fill: var(--primary-background-shadow-color);
    }
    100% {
        fill: transparent;
    }
}

@keyframes pathStarHoverAnimation {
    0% {
        fill: var(--tertiary-text-color);
        scale: 1;
    }
    80% {
        fill: var(--tertiary-background-accent-color);
        scale: 0.25;
    }
    100% {
        fill: var(--tertiary-title-color);
        scale: 0.8;
    }
}

@keyframes pathStarStrokeHoverAnimation {
    0% {
        stroke: var(--tertiary-background-color);
    }
    80% {
        stroke: var(--tertiary-background-shadow-color);
        stroke-width: 50;
    }
    100% {
        stroke: var(--tertiary-title-accent-color);
        stroke-width: 75;
    }
}