/* 
*   Themes Colors Customization 
*/


/* Yellow Theme */
.yellow-theme {
    --primary-color-dark: #c08600;
    --primary-color: #ffd900;
    --primary-color-accent: #ffd220;
    --primary-color-pale: #ffe47a;

    --secondary-color-dark: #a56100;
    --secondary-color: #cf8d00;
    --secondary-color-accent: #ffb71b;
    --secondary-color-pale: #ffca65;

    --tertiary-color-dark: #8c5d01;
    --tertiary-color: #bf8e2c;
    --tertiary-color-accent: #e5b066;
    --tertiary-color-pale: #f4ce94;
    
    --colored-background-dark: #413b2a;
    --colored-background-mid-dark: #5d5235;
    --colored-background-light: #fdfdba;
    --colored-background-mid-light: #e4df80;
    --colored-background-accent-dark: #322e1e;
    --colored-background-accent-light: #f9f8e0;
}

/* Green Theme */
.green-theme {
    --primary-color-dark: #008a00;
    --primary-color: #00d200;
    --primary-color-accent: #33d933;
    --primary-color-pale: #66e066;

    --secondary-color-dark: #00574d;
    --secondary-color: #007d6e;
    --secondary-color-accent: #2ca58a;
    --secondary-color-pale: #63c2a3;

    --tertiary-color-dark: #003d23;
    --tertiary-color: #006142;
    --tertiary-color-accent: #30855b;
    --tertiary-color-pale: #68a085;

    --colored-background-dark: #293d29;
    --colored-background-mid-dark: #385638;
    --colored-background-light: #b4fbb4;
    --colored-background-mid-light: #86dd86;
    --colored-background-accent-dark: #233431;
    --colored-background-accent-light: #e0f9f5;
}

/* Blue Theme */
.blue-theme {
    --primary-color-dark: #155785;
    --primary-color: #1c76c6;
    --primary-color-accent: #4c8bd6;
    --primary-color-pale: #7da6e6;

    --secondary-color-dark: #16334f;
    --secondary-color: #204476;
    --secondary-color-accent: #3b5c90;
    --secondary-color-pale: #6379ab;

    --tertiary-color-dark: #112740;
    --tertiary-color: #1a3b61;
    --tertiary-color-accent: #3c5982;
    --tertiary-color-pale: #6878a2;

    --colored-background-dark: #2d364b;
    --colored-background-mid-dark: #3a445f;
    --colored-background-light: #acb6ff;
    --colored-background-mid-light: #9b9bff;
    --colored-background-accent-dark: #242734;
    --colored-background-accent-light: #e0e2f9;
}

/* Red Theme */
.red-theme {
    --primary-color-dark: #9a0706;
    --primary-color: #bc0b08;
    --primary-color-accent: #e60d0d;
    --primary-color-pale: #ff4949;

    --secondary-color-dark: #9a3007;
    --secondary-color: #bf3c0b;
    --secondary-color-accent: #e65713;
    --secondary-color-pale: #ff7c3d;

    --tertiary-color-dark: #8c4600;
    --tertiary-color: #bf5f08;
    --tertiary-color-accent: #ff7b13;
    --tertiary-color-pale: #ff9d42;

    --colored-background-dark: #352525;
    --colored-background-mid-dark: #493232;
    --colored-background-light: #faa3a3;
    --colored-background-mid-light: #ff6e6e;
    --colored-background-accent-dark: #271c1c;
    --colored-background-accent-light: #f9cccc;
}

/* Purple Theme */
.purple-theme {
    --primary-color-dark: #8c37a3;
    --primary-color: #ab47bc;
    --primary-color-accent: #c667d4;
    --primary-color-pale: #d88de5;

    --secondary-color-dark: #621d7d;
    --secondary-color: #7d2f99;
    --secondary-color-accent: #9950b5;
    --secondary-color-pale: #b677d2;

    --tertiary-color-dark: #50196a;
    --tertiary-color: #6b2a85;
    --tertiary-color-accent: #8a4aa5;
    --tertiary-color-pale: #ab6bc7;
    
    --colored-background-dark: #37253f;
    --colored-background-mid-dark: #543e5a;
    --colored-background-light: #dbacf6;
    --colored-background-mid-light: #f1a3fb;
    --colored-background-accent-dark: #1d191f;
    --colored-background-accent-light: #f9e1ff;
}
